Source: lazcad
Section: graphics
Priority: optional
Maintainer: Mustafa Dadali <mdadali@yahho.de>
Build-Depends: debhelper (>= 12), gcc, make, libgtk2.0-dev
Standards-Version: 4.6.0
Homepage: https://github.com/mdadali/lazcad

Package: lazcad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LazCAD - Lightweight 2D CAD tool
 LazCAD is a lightweight 2D CAD tool designed for efficient and quick designs.
