#!/usr/bin/make -f

# Automatische Variablen setzen und allgemeine Targets definieren
%:
	dh $@

# Hier definieren wir den Build-Prozess
build:
	# Setze die Umgebungsvariablen für Lazarus und FPC
	export CPU_TARGET=x86_64
	export OS_TARGET=linux
	export PATH=$(HOME)/Programme/Lazarus/2.2.6/fpc/bin/x86_64-linux:$(HOME)/Programme/Lazarus/2.2.6/lazarus:$(PATH)
	# Kompiliere das Lazarus-Projekt (.lpi) mit FPC
	fpc.sh -dDEBIAN -Mdelphi -Px86_64 -Parm \
	-FE$(CURDIR)/debian/tmp/usr/local/bin \
	$(CURDIR)/src/lazcad.lpi

# Installiere die erzeugte Binärdatei ins richtige Verzeichnis
install:
	# Erstelle das Zielverzeichnis
	mkdir -p $(DESTDIR)/usr/local/bin
	# Kopiere die kompilierten Binärdateien
	cp $(CURDIR)/debian/tmp/usr/local/bin/lazcad $(DESTDIR)/usr/local/bin

# Architekturspezifische Binary erstellen (benötigt Build- und Install-Schritt)
binary-arch: build install
	dh_builddeb
